* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #232323;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;

  border: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
li {
  list-style: none;
}
.container {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: rgb(215, 241, 238);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: rgb(209, 227, 246);
}
.alert {
  margin: 15px 0px;
  width: fit-content;
}
.alert-error {
  background-color: rgb(246, 171, 171);
}
.alert-success {
  background-color: rgb(225, 238, 154);
}
.post-item:not(:last-child) {
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(170, 169, 169);
}
.post-link {
  cursor: pointer;
}
.post-body {
  margin-bottom: 5px;
}
.post-container {
  border-bottom: 1px solid rgb(169, 167, 167);
}
.onePost-title {
  margin-bottom: 10px;
}
.onePost-body {
  margin-bottom: 10px;
}
.comments-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-user {
  margin-bottom: 5px;
}
.btn {
  margin: 15px auto;
}

/* @-webkit-keyframes gyro {
  0% {
    -webkit-transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
            transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%)); }
  50% {
    -webkit-transform: scale(0.5) rotate(1440deg) translateY(0);
            transform: scale(0.5) rotate(1440deg) translateY(0); }
  100% {
    -webkit-transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
            transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%)); } }
@keyframes gyro {
  0% {
    -webkit-transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
            transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%)); }
  50% {
    -webkit-transform: scale(0.5) rotate(1440deg) translateY(0);
            transform: scale(0.5) rotate(1440deg) translateY(0); }
  100% {
    -webkit-transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
            transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%)); } }

.gyro:after, .gyro:before {
  --radius: 250;
  -webkit-animation: gyro 2s infinite linear;
          animation: gyro 2s infinite linear;
  background: var(--primary);
  border-radius: 100%;
  content: '';
  height: 20px;
  width: 20px;
  position: absolute; }

.gyro:before {
  --radius: -250;
  background: var(--secondary); } */
